@{
    ViewData["Title"] = "Slay";
}

<div class="text-center">
    <div class="profile_box text-center">
        <div class="align-items-center">
            <img class="profile_img" src="~/images/Avocado.png" alt="pfp">
            <h1 class="profile_name">Avocado</h1>
            <a href="/Home">Go to About Page</a>

        </div>
    </div>
</div>
